$modernbrown: #B39089;
$modernyellow: #FFD700;
$offyellow: #F9E79F;
$mainwhite1: #F5F5F5;
$mainwhite2: #C7C7C7;
$mainwhite3: #DEDEDE;
$tablet-breakpoint: 481px;
$homepage-breakpoint: 540px;
$laptop-breakpoint: 768px;
$desktop-breakpoint: 1024px;